<a href="https://colab.research.google.com/github/melinalessa/AnaliseExploratoriaPandas/blob/main/Aula3_Exe02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar biblioteca

In [16]:
import pandas as pd

Criar uma variável

In [17]:
df= pd.read_csv('FAOSTAT_data_12-5-2020.csv', sep= ",")

Ver quantidade de linhas e colunas

In [18]:
df.shape

(66, 14)

Ver informações do meu conjunto de dados

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       66 non-null     object
 1   Domain            66 non-null     object
 2   Area Code         66 non-null     int64
 3   Area              66 non-null     object
 4   Element Code      66 non-null     int64
 5   Element           66 non-null     object
 6   Item Code         66 non-null     int64
 7   Item              66 non-null     object
 8   Year Code         66 non-null     int64
 9   Year              66 non-null     int64
 10  Unit              66 non-null     object
 11  Value             66 non-null     int64
 12  Flag              43 non-null     object
 13  Flag Description  66 non-null     object
dtypes: int64(6), object(8)
memory usage: 7.3+ KB

Ver os tipos de dados

In [20]:
df.dtypes

Domain Code         object
Domain              object
Area Code            int64
Area                object
Element Code         int64
Element             object
Item Code            int64
Item                object
Year Code            int64
Year                 int64
Unit                object
Value                int64
Flag                object
Flag Description    object
dtype: object

Renomear colunas

In [21]:
df.rename(columns={
    "Domain Code": "Código Dominio",
    "Domain": "Domínio",
    "Area Code": "Codigo de Area",
    "Element Code": "Codigo do Produto",
    "Element": "Produto",
    "Item Code": "Codigo do Item",
    "Item": "Item",
    "Year Code": "Codigo do Ano",
    "Year": "Ano",
    "Unit": "Unidade",
    "Value": "Valor",
    "Flag": "Localizacao",
    "Flag Description": "Descricao da Localizacao"
})

,Código Dominio,Domínio,Codigo de Area,Area,Codigo do Produto,Produto,Codigo do Item,Item,Codigo do Ano,Ano,Unidade,Valor,Localizacao,Descricao da Localizacao
0,QC,Crops,9,Argentina,5419,Yield,515,Apples,2016,2016,hg/ha,223912,Fc,Calculated data
1,QC,Crops,9,Argentina,5419,Yield,515,Apples,2017,2017,hg/ha,235386,Fc,Calculated data
2,QC,Crops,9,Argentina,5419,Yield,515,Apples,2018,2018,hg/ha,213072,Fc,Calculated data
3,QC,Crops,9,Argentina,5510,Production,515,Apples,2016,2016,tonnes,458908,NaN,Official data
4,QC,Crops,9,Argentina,5510,Production,515,Apples,2017,2017,tonnes,458908,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,QC,Crops,231,United States of America,5419,Yield,388,Tomatoes,2017,2017,hg/ha,886625,Fc,Calculated data
62,QC,Crops,231,United States of America,5419,Yield,388,Tomatoes,2018,2018,hg/ha,968079,Fc,Calculated data
63,QC,Crops,231,United States of America,5510,Production,388,Tomatoes,2016,2016,tonnes,12877049,NaN,Official data
64,QC,Crops,231,United States of America,5510,Production,388,Tomatoes,2017,2017,tonnes,11141862,NaN,Official data
65,QC,Crops,231,United States of America,5510,Production,388,Tomatoes,2018,2018,tonnes,12612139,NaN,Official data